:root {
    --background-primary: #121113;
    --foreground-primary: #1a191b;
    --foreground-secondary: #21121d;
    --border-primary: #3c393f;
    --border-secondary: #692955;
    --primary: #d6409f;
    --secondary: #232225;
    --text-color: #eeeef0;
    --text-color-question: #b5b2bc;
    --text-color-disabled: #6f6d78;

}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 100%;
    font-style: normal;
}


body {
    background-color: var(--background-primary);
    color: var(--text-color);
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
}

.sidebar {
    background-color: var(--foreground-primary);
    width: 400px;
    height: 100%;
    border-right: 1px solid var(--border-primary);
    padding: 30px 0;
}

.content {
    background-color: #692955;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0 150px;
}
